
/venv
/application/node_modules
/application/dist/win-unpacked
/application/dist
/application/dist
application/dist/builder-debug.yml
application/dist/builder-debug.yml
application/package-lock.json
application/.env
/dist
/node_modules
